{% extends 'salt/base.html' %}
{% block title %}Add Salt{% endblock %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'salt/scss/salt_form.css' %}">
	<script src="{% static 'salt/js/salt_form.js' %}"></script>
{% endblock %}
{% block salt_active %}active{% endblock %}
{% block body %}<br><br><br>
	<div class="container-fluid">
		<div class="col-sm-10 col-md-5">
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<div class="form-group">
					<h4><label for="title">Title</label></h4>
					<input id="title" name="title" type="text" maxlength="50" class="form-control input-md" required>
				</div>
				<div class="form-group">
					<h4><label for="description">Description</label></h4>
					<textarea rows="8" id="description" class="form-control" name="description" required></textarea>
				</div>
				<div class="form-group">
					<h4><label>Image</label></label></h4>
			        <div class="input-group">
			            <span class="input-group-btn">
			                <span class="btn btn-default btn-file">
			                    Browse… <input type="file" name="img" id="imgInp" required>
			                </span>
			            </span>
			            <input placeholder="" type="text" class="form-control" readonly>
			        </div>
			        <img src="" id='img-upload' class="img-responsive" />
				</div>
				<button class="btn btn-success" type="submit">Submit &nbsp; Salt!</button><br><br>
			</form>
			{% if error %}<br><label class="text-danger">{{ error }}{% endif %}
		</div><br><br>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4><strong>Pointers To Keep In Mind</strong></h4>
					<ul>
						<li>
							<p>
								A good image should kinda look like this. <span class="glyphicon glyphicon-camera"></span>
								<img class="img-responsive" src="https://pbs.twimg.com/profile_banners/3252525918/1482932477/1500x500">
							</p>
						</li>
						<li>
							<p>
								Make sure that your description is <b><i>relevant</i></b>.
							</p>
						</li>
						<li>
							<p>
								Nobody likes jerks. So, don't be one! <span class="glyphicon glyphicon-sunglasses"></span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}